.logo {
    width: 250px;
    margin-top: 5px;
    margin-bottom: 15px
}
.logo-christmas {
    width: 278px;
    margin-top: 10px;
    margin-bottom: 10px
}
.logo-box {
    min-height: 0
}
body {
    background-image: url(/src/img/background.png);
    height: 100vh;
    background-size: cover;
    background-attachment: scroll;
}
.other_download_version {
    color: gray
}
.other_download_version:hover {
    color: gray;
    cursor: pointer
}

.btn-outline-purple {
    color: #901ec5;
    border-color: #901ec5
}
.btn-outline-purple:hover {
   color:#fff;
   background-color:#901ec5;
   border-color:#901ec5
}
.btn-check:focus+.btn-outline-purple,.btn-outline-purple:focus {
   box-shadow:0 0 0 .25rem rgba(144,30,197,.5)
}
.btn-check:active+.btn-outline-purple,.btn-check:checked+.btn-outline-purple,.btn-outline-purple.active,.btn-outline-purple.dropdown-toggle.show,.btn-outline-purple:active {
   color:#fff;
   background-color: #901ec5;
   border-color: #901ec5
}.btn-check:active+.btn-outline-purple:focus,.btn-check:checked+.btn-outline-purple:focus,.btn-outline-purple.active:focus,.btn-outline-purple.dropdown-toggle.show:focus,.btn-outline-purple:active:focus {
   box-shadow:0 0 0 .25rem rgba(144,30,197,.5)
}
.btn-outline-purple.disabled,.btn-outline-purple:disabled {
   color:#901ec5;
   background-color:transparent
}
.with_normal {
    width: 750px
}
.card_oher_version {
    margin-bottom: 25px;
    margin-top: 25px;
}
.progress {
    margin-top: 14px;
    margin-bottom: 20px;
}
.bg-purple {
    background-color: #901ec5 !important;
}
.lightrope{text-align:center;white-space:nowrap;overflow:hidden;position:absolute;z-index:1;margin:-15px 0 0 0;padding:0;pointer-events:none;width:100%}.lightrope li{position:relative;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite;list-style:none;margin:0;padding:0;display:block;width:12px;height:28px;border-radius:50%;margin:20px;display:inline-block;background:#00f7a5;box-shadow:0 4.66667px 24px 3px #00f7a5;-webkit-animation-name:flash-1;animation-name:flash-1;-webkit-animation-duration:2s;animation-duration:2s}.lightrope li:nth-child(2n+1){background:#0ff;box-shadow:0 4.66667px 24px 3px rgba(0,255,255,.5);-webkit-animation-name:flash-2;animation-name:flash-2;-webkit-animation-duration:.4s;animation-duration:.4s}.lightrope li:nth-child(4n+2){background:#f70094;box-shadow:0 4.66667px 24px 3px #f70094;-webkit-animation-name:flash-3;animation-name:flash-3;-webkit-animation-duration:1.1s;animation-duration:1.1s}.lightrope li:nth-child(odd){-webkit-animation-duration:1.8s;animation-duration:1.8s}.lightrope li:nth-child(3n+1){-webkit-animation-duration:1.4s;animation-duration:1.4s}.lightrope li:before{content:"";position:absolute;background:#222;width:10px;height:9.33333px;border-radius:3px;top:-4.66667px;left:1px}.lightrope li:after{content:"";top:-14px;left:9px;position:absolute;width:52px;height:18.66667px;border-bottom:solid #222 2px;border-radius:50%}.lightrope li:last-child:after{content:none}.lightrope li:first-child{margin-left:-40px}@-webkit-keyframes flash-1{0%,100%{background:#00f7a5;box-shadow:0 4.66667px 24px 3px #00f7a5}50%{background:rgba(0,247,165,.4);box-shadow:0 4.66667px 24px 3px rgba(0,247,165,.2)}}@keyframes flash-1{0%,100%{background:#00f7a5;box-shadow:0 4.66667px 24px 3px #00f7a5}50%{background:rgba(0,247,165,.4);box-shadow:0 4.66667px 24px 3px rgba(0,247,165,.2)}}@-webkit-keyframes flash-2{0%,100%{background:#0ff;box-shadow:0 4.66667px 24px 3px #0ff}50%{background:rgba(0,255,255,.4);box-shadow:0 4.66667px 24px 3px rgba(0,255,255,.2)}}@keyframes flash-2{0%,100%{background:#0ff;box-shadow:0 4.66667px 24px 3px #0ff}50%{background:rgba(0,255,255,.4);box-shadow:0 4.66667px 24px 3px rgba(0,255,255,.2)}}@-webkit-keyframes flash-3{0%,100%{background:#f70094;box-shadow:0 4.66667px 24px 3px #f70094}50%{background:rgba(247,0,148,.4);box-shadow:0 4.66667px 24px 3px rgba(247,0,148,.2)}}@keyframes flash-3{0%,100%{background:#f70094;box-shadow:0 4.66667px 24px 3px #f70094}50%{background:rgba(247,0,148,.4);box-shadow:0 4.66667px 24px 3px rgba(247,0,148,.2)}}
